* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
}
header {
  margin: auto;
}
.top {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
.top i {
  color: rgb(165, 110, 8);
  padding: 5px;
}
.location {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.contact {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.socialmedia {
  display: flex;
  gap: 10px;
}
.socialmedia i {
  background-color: white;
  text-align: center;
  padding: 5px;
}

nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: rgb(165, 110, 8);
  padding: 0 20px;
}
.pages {
  display: flex;
}
ul {
  list-style-type: none;
}
li {
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
li a {
  color: black;
}
.quote {
  border: none;
  color: white;
  background-color: rgb(165, 110, 8);
  padding: 20px;
}

.quote i {
  padding: 10px;
}

.bottom {
  color: white;
  height: 100%;
  width: 100%;
  background: url(../photos/carousel-1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
h5 {
  margin-top: 300px;
  font-size: 20px;
}
h2 {
  font-size: 50px;
  padding: 20px;
}
.bottom p {
  padding: 20px 100px;
  font-size: 20px;
}
.paragraphs {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.getbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.readmore {
  width: 200px;
  padding: 20px;
  color: white;
  background-color: rgb(165, 110, 8);
}

.freequote {
  width: 200px;

  padding: 20px 40px;
  color: black;
  background-color: white;
}

.hiddenpage {
  position: absolute;
  top: 70px;
  right: 250px;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  background-color: white;
  display: none;
}

.hiddenpage a {
  padding: 10px 15px;
  color: black;
}
.linkpages:hover {
  color: orange;
}
.linkpages:hover  .hiddenpage {
  display: block;
}

.navigations {
  position: relative;
}
