* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  border: 1px solid black;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: mydiv;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 5;
}

@keyframes mydiv {
  0% {
    transform: translate(0);

  }

  25% {
   transform: translate(400px , calc(100vh - 100px));
  }
  50% {
    transform: translate(800px , 0);
  
  }
  75% {
    transform: translate(1200px , calc(100vh - 100px));

  }
  100% {
    transform: translate(1600px ,0);

  
}
}