* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-image: linear-gradient(to left, #6600ff 0%, #33ccff 100%);
}

.main {
    margin: 200px auto;

    width: max-content;
    background-color: white;
    padding: 50px;

}

.login {
    width: 100%;
    border: none;
    height: 20px;
    color: white;
    background-image: linear-gradient(to left, #6600ff 0%, #33ccff 100%);
}


input {
    width: 100%;
}

h1 {
    text-align: center;
}