* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background-color: white;
  z-index: 50;
  position: sticky;
  top: 0;
  max-width: 100%;
}
header .container-nav {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .container-nav .links-navbar ul {
  display: flex;
  gap: 30px;
}
header .container-nav .links-navbar ul li a {
  color: #212529;
}

#photo-section {
  border-bottom: 2px dashed rgb(175, 170, 170);
  border-top: 2px dashed rgb(175, 170, 170);
  padding: 60px 15px;
  display: grid;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  grid-template-areas: "left-banner right1 right2" "left-banner right3 right4";
}
#photo-section .image-text {
  color: white;
  text-align: center;
}
#photo-section .image-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
#photo-section .image-text p {
  font-size: 16px;
  font-style: italic;
}
#photo-section .left-banner-image {
  height: 80vh;
  grid-area: left-banner;
  width: 50vw;
  padding: 0 85px;
  display: flex;
  align-items: center;
  background: url(../../images/left-banner-image.jpg) no-repeat;
  background-size: cover;
}
#photo-section .left-banner-image .for-text {
  color: white;
}
#photo-section .left-banner-image .for-text h2 {
  font-size: 52px;
  margin-bottom: 20px;
  font-weight: 700;
}
#photo-section .left-banner-image .for-text p {
  font-size: 16px;
  margin-bottom: 30px;
  font-style: italic;
}
#photo-section .left-banner-image .for-text button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 25px;
}
#photo-section .baner-right-image-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
  width: 22vw;
  grid-area: right1;
  background: url(../../images/baner-right-image-01.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
#photo-section .baner-right-image-01 .hidden-text {
  background-color: rgba(42, 42, 42, 0.97);
  color: white;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  transition: 0.5s;
  opacity: 0;
}
#photo-section .baner-right-image-01 .hidden-text button {
  padding: 12px 25px;
  max-width: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#photo-section .baner-right-image-01:hover .hidden-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#photo-section .baner-right-image-02 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
  grid-area: right2;
  width: 22vw;
  background: url(../../images/baner-right-image-02.jpg) no-repeat;
  background-size: cover;
}
#photo-section .baner-right-image-02 .hidden-text {
  background-color: rgba(42, 42, 42, 0.97);
  color: white;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  transition: 0.5s;
  opacity: 0;
}
#photo-section .baner-right-image-02 .hidden-text button {
  padding: 12px 25px;
  max-width: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#photo-section .baner-right-image-02:hover .hidden-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#photo-section .baner-right-image-03 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: right3;
  height: 38vh;
  position: relative;
  width: 22vw;
  background: url(../../images/baner-right-image-03.jpg) no-repeat;
  background-size: cover;
}
#photo-section .baner-right-image-03 .hidden-text {
  background-color: rgba(42, 42, 42, 0.97);
  color: white;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  transition: 0.5s;
  opacity: 0;
}
#photo-section .baner-right-image-03 .hidden-text button {
  padding: 12px 25px;
  max-width: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#photo-section .baner-right-image-03:hover .hidden-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#photo-section .baner-right-image-04 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: right4;
  height: 38vh;
  position: relative;
  width: 22vw;
  background: url(../../images/baner-right-image-04.jpg) no-repeat;
  background-size: cover;
}
#photo-section .baner-right-image-04 .hidden-text {
  background-color: rgba(42, 42, 42, 0.97);
  color: white;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  transition: 0.5s;
  opacity: 0;
}
#photo-section .baner-right-image-04 .hidden-text button {
  padding: 12px 25px;
  max-width: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#photo-section .baner-right-image-04:hover .hidden-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#mens-section {
  padding: 90px 0;
}
#mens-section .container {
  max-width: 1140px;
  margin: auto;
}
#mens-section .container .upper-text {
  margin-bottom: 60px;
}
#mens-section .container .upper-text h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
#mens-section .container .upper-text p {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}
#mens-section .container .men-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
}
#mens-section .container .men-content .fa-arrow-left {
  position: absolute;
  left: -75px;
  padding: 15px;
  border: 1px solid black;
}
#mens-section .container .men-content .fa-arrow-right {
  right: -95px;
  position: absolute;
  padding: 15px;
  border: 1px solid black;
}
#mens-section .container .men-content .content {
  overflow: hidden;
  position: relative;
}
#mens-section .container .men-content .content .rate {
  display: flex;
  justify-content: space-between;
}
#mens-section .container .men-content .content .rate h3 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
}
#mens-section .container .men-content .content .rate ul {
  display: flex;
}
#mens-section .container .men-content .content .rate ul li {
  font-size: 13px;
}
#mens-section .container .men-content .content .price p {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
}
#mens-section .container .men-content .content .hidden-links {
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  display: flex;
  gap: 20px;
}
#mens-section .container .men-content .content .hidden-links i {
  padding: 15px;
  background-color: white;
}
#mens-section .container .men-content .content:hover .hidden-links {
  bottom: 100px;
  left: 80px;
  opacity: 1;
  text-align: center;
}

#explore-section {
  padding: 90px 0;
}
#explore-section .container {
  max-width: 1140px;
  margin: auto;
  gap: 30px;
  display: grid;
  grid-template-areas: "left-text left-text leather-bag top-image" "left-text left-text bottom-image different-type";
}
#explore-section .container .left-text {
  grid-area: left-text;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#explore-section .container .left-text p {
  color: #aaaaaa;
  font-size: 14px;
}
#explore-section .container .left-text button {
  max-width: 140px;
  padding: 12px 25px;
  margin-top: 35px;
  background-color: white;
  white-space: nowrap;
  transition: 0.5s;
}
#explore-section .container .left-text button:hover {
  background-color: #2a2a2a;
  color: white;
}
#explore-section .container .quotes {
  display: flex;
}
#explore-section .container .quotes p {
  color: #2a2a2a;
  font-style: italic;
}
#explore-section .container .quotes i {
  margin-right: 10px;
}
#explore-section .container .leather-bag {
  grid-area: leather-bag;
}
#explore-section .container .top-image {
  grid-area: top-image;
}
#explore-section .container .top-image img {
  width: 100%;
  height: 100%;
}
#explore-section .container .bottom-image {
  grid-area: bottom-image;
}
#explore-section .container .bottom-image img {
  width: 100%;
  height: 100%;
}
#explore-section .container .different-type {
  grid-area: different-type;
}
#explore-section .container .text-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}
#explore-section .container .text-explore h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
}
#explore-section .container .text-explore p {
  font-size: 14px;
  font-style: italic;
  color: #aaa;
  font-weight: 500;
}

footer {
  background-color: #2a2a2a;
}
footer .container {
  padding: 60px 0;
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  border-bottom: 1px solid #a1a1a1;
}
footer .container .part-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .container .part-footer h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
footer .container .part-footer a {
  font-size: 14px;
  transition: 350ms;
}
footer .container .part-footer a:hover {
  color: #a1a1a1;
}
footer .container .part-footer img {
  max-width: 195px;
}
footer .bottom-footer {
  padding: 30px 0;
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: white;
  gap: 10px;
}
footer .bottom-footer ul {
  display: flex;
}
footer .bottom-footer ul i {
  padding: 15px;
  transition: 350ms;
}
footer .bottom-footer ul i:hover {
  color: #cc6666;
}/*# sourceMappingURL=main.css.map */